@import "alert.css";




.body {
    width: 100%;
    min-height: 100vh;
    left:12px;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    overflow-x: hidden;
}

.nav__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    height: 98vh;
    padding: 0 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    position: fixed;
    top: 10px;
    left: -240px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav__open {
    left: 10px;
}

.nav__toggle {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 2px;
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto;
    z-index: 101;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 160px;
    padding: 0 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 98;
    position: fixed;
    float: left;
    top: 10px;
    left: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
    visibility: visible;
}

.nav__toggle__open {
    left: 210px;
}

#login {
    max-height: 1.5rem;
    margin-top: 12px;   /* TODO: Fix alignment */
}
.register {
    color: #888;
    letter-spacing: .1rem;
    font-size: 0.8rem;
    /*text-align: center;*/
    cursor: pointer;
}

.element {
    padding-left: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.element:hover {
    background-color: #f5f5f5;
}

.element:hover div {
    visibility: visible;
}

.element:hover svg {
    visibility: visible;
}

.menu__open {
    visibility: visible;
}

.parent__menu {
    list-style-type: none;
}   

.menu__link{
    list-style-type: none;
}   

.menu ul {
    padding-inline-start: 0px;
}
ul.sub__menu {
    padding-inline-start: 1rem;
}

.selected__menu__link {
    font-weight: bold;
}

.toggle__closed {
    display: none;
    visibility: hidden;
}

.menu-toggle {
    float: left;
    top: 0px;
    right: 10px;
    text-decoration: none;
    color: #333;
    visibility: hidden;
    cursor: pointer;
}

div.login {
    display: flex;
    flex-direction: row;
}
div.login > div > span {
    font-size: 8pt;
    font-weight: 300;
    color: #333;
}

div.login > div{
    display: flex;
    flex-direction: column;
    width: 80px;
    margin-right: 10px;
}
 

.el {
    width: 60%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    margin-left: 20%;
}

.heading-1 {
    font-size: 2rem;
    font-weight: 700;
    /* margin: 0 0 1rem 0; */
}

.heading-2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.heading-3 {
    font-size: 1.25rem;
    font-weight: 700;
}

.paragraph {
    font-size: 1rem;
    font-weight: 400;
}

.code {
    font-size: 1rem;
    font-weight: 200;
    font-family:  SFMono-Regular, Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
    background-color: #050505;
    color: #fff;
}

.quote {
    font-size: 1rem;
    font-weight: 400;
    /* margin: 0 0 1rem 0; */
    background-color: #f5f5f5;
    padding: 1rem;
    border-left: 5px solid #333;
}

.settings {
    fill: white;
    position: relative;
    float:right;
    top: 4px;
    right: 194px;
    cursor: pointer;
    visibility: hidden;
}
