@import "alert.css";




.body {
    width: 100%;
    min-height: 100vh;
    left:12px;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    overflow-x: hidden;
}

.nav__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    height: 98vh;
    padding: 0 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    position: fixed;
    top: 48px;
    left: -240px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav__open {
    left: 10px;
}

.nav__toggle {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 2px;
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto;
    z-index: 101;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 160px;
    padding: 0 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 98;
    position: fixed;
    float: left;
    top: 10px;
    left: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
    visibility: visible;
}

.nav__toggle__open {
    left: 210px;
}

.element {
    padding-left: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.element:hover {
    background-color: #f5f5f5;
}

.element:hover div {
    visibility: visible;
}

.element:hover svg {
    visibility: visible;
}

.menu__open {
    visibility: visible;
}

.parent__menu {
    list-style-type: none;
}   

.menu__link{
    list-style-type: none;
}   

.menu ul {
    padding-inline-start: 0px;
}
ul.sub__menu {
    padding-inline-start: 1rem;
}

.selected__menu__link {
    font-weight: bold;
}

.toggle__closed {
   display: none;
    visibility: hidden;
}

.toggle__open {
    left: 210px;
}

.menu-toggle {
    float: left;
    top: 0px;
    right: 10px;
    text-decoration: none;
    color: #333;
    visibility: hidden;
    cursor: pointer;
}

.el {
    width: 60%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    margin-left: 20%;
}

.heading-1 {
    font-size: 2rem;
    font-weight: 700;
    /* margin: 0 0 1rem 0; */
}

.heading-2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.heading-3 {
    font-size: 1.25rem;
    font-weight: 700;
}

.paragraph {
    font-size: 1rem;
    font-weight: 400;
}

.code {
    font-size: 1rem;
    font-weight: 200;
    font-family:  SFMono-Regular, Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
    background-color: #050505;
    color: #fff;
}

.quote {
    font-size: 1rem;
    font-weight: 400;
    /* margin: 0 0 1rem 0; */
    background-color: #f5f5f5;
    padding: 1rem;
    border-left: 5px solid #333;
}

.settings {
    fill: white;
    position: relative;
    float:right;
    top: 4px;
    right: 194px;
    cursor: pointer;
    visibility: hidden;
}

body {
    position: relative;
    height: 100vh;
}

@media (min-width: 1024px) {
    .body {
        position: relative; 
      left: 240px;
      min-height: 80vh;
      max-height: 80vh;
    }
    .nav__toggle{
        visibility: hidden;
    }
    .element {
        margin-left: 0;
        padding-left: 40px;
    }
    .el {
        margin-left: 5%;
        width: 50%;
    }
    .nav__left {
        left: 2px;
        top: 68px;
        border-radius: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
        max-height: 400px;
    
    }
  }

.table-striped {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-striped thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table-striped th,
.table-striped td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}
.table-striped tbody tr {
    border-bottom: 1px solid #ddd;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.table-striped tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.table-striped tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}